@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {  }
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
body {
	background-image: url(../images/blue-pattern.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}


.voltar-text-bg{	background-image: url(../images/voltartext.png);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	max-width:597px;
	height:638px;
	    margin-top: 100px;
		text-align:center;
		    margin: 0 auto;
			    background-size: 100%;
}
.voltr-btn{    background-image: url(../images/vlt-btn.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    max-width: 393px;
    height: 261px;
    margin-top: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 43px;
    font-weight: 700;
    vertical-align: middle;
    margin-top: -90px;
	    background-size: 100%;
}
.voltar-page {
    text-align: center;
	    padding-top: 100px;
	
}
.vt-text {
    width: 67%;
    font-weight: 700;
    font-size: 43px;
    display: inline-block;
    float: none;
    padding-top: 159px;
    line-height: 52px;
    text-shadow: 0px 3px 25px #fff;

}
.voltr-btn span {
    padding-top: 82px;
    float: left;
    text-align: left;
    width: 100%;
    padding-left: 66px;
}
body.voltarpage {
	background-image: url(../images/voltarbg.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
a:focus, a:hover {
	text-decoration: none;
}
.container {
	max-width: 700px;
	padding: 0 15px;
}
.header {
	text-align: center;
	padding-top: 30px;
}


/**File Upload css Start here**/

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 0px;
    float: left;
    width: 33%;
	padding-right:20px;
}

.custom-file-upload img{ cursor:pointer;}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  border:none;
  text-align:Center;

  /* IE 9 Fix */
}
.gender label {
    float: left;
}
.rdio {
    width: auto;
    float: left;
    font-size: 23px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 29px;
}
.l-box .rdio input{
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.l-box.confm input {
    width: 50%;
}
.l-box.pwdm input{
    width: 70%;
}

.file-upload-input:hover, .file-upload-input:focus {
  outline: none;
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: transparent;
    float: left;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 219px;
    /* background-image: url(../images/file-upload.png); */
    outline: none;
    border: none;
    font-size: 20px;
    max-width: 219px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 3px solid #1cbac6;
    background: rgba(162,180,201,0.7);
}
.file-upload-wrapper {
    float: left;
	width:100%;
}
.file-upload-button img {
    margin-bottom: 20px;
    width: 56px;
}
.file-upload-button:hover {
    opacity: 0.6;

}

.uploadfilemain {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.up-rightbox {
    float: right;
    width: 100%;
    font-size: 30px;
	    padding-top: 20px;
}
.l-box.wtsup input.wtext {
    width: 36%;
}
.up-rightbox p {
    line-height: 38px;
    width: 100%;
	text-align:center;
}
/**File Upload css End here**/
/**innerpage css start here**/


.page-heading .head-line {
	background-image: url(../images/fav-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 201px;
	max-width: 581px;
	box-sizing: border-box;
	float: none;
	display: inline-block;
	width: 100%;
}
.page-heading .head-line span {
	font-size: 72px;
	font-weight: 700;
	color: #fff7e8;
	text-shadow: -2px 2px 5px #000;
	
	margin-top: 33px;.favrouitepage .page-heading .head-line span
}

.innercontent {
	float: left;
	width: 100%;
	padding-bottom: 50px;
}
.favrouitepage .page-heading .head-line span {
    margin-right: 62px;
  
}

.ranking-page .page-heading .head-line span {
    margin-right: 62px;
    font-size: 52px;
	    margin-top: 25px;
}
.ranking-top-div .rank {
    float: NONE;
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
    display: inline-block;
    padding: 0px 5px;
    vertical-align: top;
    line-height: 51px;
	text-align:left;
}
.r-top-only .rank img {
    margin-left: 6px;
}
.fav-prof {
	float: left;
	width: 100%;
	padding-top: 69px;
	padding-left: 0px;
	text-align: center;
	vertical-align: top;
}
.fav-prof li {
	width: 21.3%;
	display: inline-block;
	list-style: none;
	margin: 0px 11px;
	margin-bottom: 30px;
	position: relative;
}
.fav-prof .img-box {
	width: 100%;
	float: left;
	background-image: url(../images/fav-user-bg);
	background-repeat: no-repeat;
	border-radius: 10px;
	overflow: hidden;
	height: auto;
	box-shadow: 0px 0px 0px 3px #fff;
	position: relative;
}
.page-heading {
	float: left;
	width: 100%;
	text-align: center;
}
.img-box span {
    background: rgba(152,161,175,0.5);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999 !important;
    left: 0;
    background-size: 100% 100%;
    /* opacity: 0.5; */
}
body.favbgmain {
    background-image: url(../images/fav-bg1.png);
}
.img-box img {
	/* height: 100%; */
	position: relative;
	width: 100%;
}
.img-box {
	float: left;
	width: 100%;
	/* border: 2px solid #fff; */
	height: 80%;
}
.username {
	float: left;
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
.username a {
	font-size: 22px;
	font-weight: 800;
	color: #fff;
}
a.closed {
	position: absolute;
	right: -2px;
	z-index: 999;
	top: -3px;
}
.volterbox {
	text-align: center;
	width: 100%;
	float: left;
	margin-top: 50px;
}
.volterbox button {
	background: url(../images/volterbg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 126px;
	max-width: 363px;
	border: none;
	font-size: 45px;
	font-weight: 700;

	padding-top: 8px;
	outline: none;
	width: 100%;
		line-height:0px;
}
.volterbox button span {
	
	
	border: none;
	font-size: 45px;
	font-weight: 700;
	color: #fff7e8;
	outline: none;
	    text-shadow: -2px 2px 5px #000;
}
.closed img {
	vertical-align: top;
}


.loginpage .page-heading .head-line span {
	font-size: 64px;
		    margin-top: 44px;
		
}
.loginpage .page-heading .head-line {
    background-image: url(../images/log-bg.png);
	
}
.loginbox {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.l-box {
    max-width: 725px;
    height: 96px;
    background-image: url(../images/login-boxbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	    box-sizing: border-box;
    padding-left: 23px;
	margin-bottom: 15px;
	float: left;
    width: 100%;
}
.error { 
    background-image: url(../images/errorbg.png) !important;
	background-repeat:no-repeat;

}
.l-box label {
    font-size: 30px;
    color: #f9eb0e;
    line-height: 88px;
	    margin-right: 20px;
}
.l-box.sltbox label { float:left;}
.l-box input {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 700;
	    width: 78%;
		outline: none;
}
.user_pic.uploadbtn input[type="file"] {
    float: left;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    color: #000;
}
.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.up-rightbox li {
    list-style: none;
    margin-right: 43px;
    font-size: 25px;
	display:inline-block;
}
.up-rightbox li input[type="checkbox"] {
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 13px;
}
.up-rightbox ul {
        padding-left: 0px;
    margin-top: 20px;
	text-align:center;
}

.l-box button {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    height: 85px;
	
	   
    background: url(../images/click.png) right;
    background-repeat: no-repeat;
    background-size: 30px;
    background-size: 7%;
    background-position: 94%;
}
.l-box button img {
    float: right;
    padding-right: 38px;
}


.rank-title img {
    width: 38px;
    margin-right: 5px;
}
.ranking-page .page-heading .head-line {
    background-image: url(../images/ranking-starheading.png);
    max-width: 425px;
	width:100%;
    height: 160px;
}
.ranking-top-div {
    border: 1px solid #6a8cab;
    float: none;
    width: auto;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    padding: 22px 43px;
}
.rank {
float: NONE;
    font-size: 62px;
    font-weight: 600;
    margin-top: 0;
    display: inline-block;
    padding: 0px 20px;
    vertical-align: top;
}
.ranking-top-div ul.fav-prof {
    padding: 15px 0px;
    margin: 0;
    float: none;
    width: 120px;
    display: inline-block;
}
.fav-prof li {
    margin-bottom: 5px;
}
.ranking-top-div ul.fav-prof li {
    width: 100%;
    margin: 0;
}
.rank-title {
    float: none;
    font-size: 31px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
	text-align:left;
	
}
.ranking-top-div a.closed {
    position: absolute;
    right: -55px;
    z-index: 9999;
    top: -88px;
}

.rankingbtm-section {
    float: left;
    width: 100%;
}
.rankingbtm-section .ranking-top-div {
    border-radius: 20px;
    float: left;
    width: 48%;
    padding: 10px 0px;

}
.ranking-top-div.r-scnd {

}
.ranking-top-div.r-scnd {
    margin-left: 20px;
}
.rankingbtm-section .rank-title {
    font-size: 24px;
    padding-left: 13px;
    line-height: normal;
    vertical-align: top;
}
.rankingbtm-section .rank-title img {
    width: 34px;
}
.rankingbtm-section ul.fav-prof {
    width: 64px;
}
.rankingbtm-section .rank {
font-size: 35px;
    font-weight: 600;
    padding: 0px 6px 0px 0px;
    text-align: right;
    line-height: 36px;
}
.rankingbtm-section .fav-prof .img-box {
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #fff;

}
.ranking-main-div .volterbox button {
    height: 84px;
    max-width: 214px;
    font-size: 26px;
    padding-top: 0px;

}
.ranking-main-div .volterbox button span{ font-size:26px;}
.ranking-page .innercontent {
    padding-bottom: 0px;
}

.ranking-person {
    display: inline-block;
    vertical-align: text-bottom;
}

.ranking-main-div {
    text-align: center;
}

.trophy {
    position: absolute;
    left: -50px;
    top: 10px;
}
.rankingbtm-section .rank img {
    margin-right: 15px;
}
.volterbox{
    float: left;
    width: 100%;
}
.ranking-main-div .volterbox{
    float: left;
    width: 100%;
	background: url(../images/ranking-btm-brown.png) no-repeat bottom;
	    background-size: 100% ;
}

.l-box.btn-enter{background-image: url(../images/log-btn.png);
}
.lognewbox .l-box input {
    text-align: center;
    width: 100%;
    height: 90%;
}
.lognewbox .l-box{ padding:0px;}
.lognewbox .l-box input:focus {
	    border: 3px solid #f6db33;
    border-radius: 29px;
	width:100%
}
.lognewbox .l-box input{

}
.createacct {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 84px;
}
.l-box.crt-hd-acct{background-image: url(../images/createmyacount-bg.png);     margin-bottom: 35px;}
.log-top-img {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.createacct a {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
}
.l-box.wtsup input {
    width: 15%;
}






html .modal-backdrop {
    background:transparent;
}
html .modal-backdrop.in {
    opacity: .9;
}
.terms-text {
    float: left;
    width: 100%;
    font-size: 22px;
    font-weight: normal;
    margin: 40px 0px;
}
html .terms-conditions .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.terms-conditions .modal-header {
    padding: 0px;
     border-bottom: 0px; 
}


.up-rightbox a {
    color: #fff;
}


.modal-dialog.terms-conditions {
    max-width: 700px;
    margin: 30px auto;
    width: 100%;
}
.terms-conditions .loginpage .page-heading .head-line span {
    font-size: 50px;
    padding-top: 14px;
    float: left;
    width: 100%;
}
.terms-conditions .voltr-btn span {
    padding-top: 39px;
    float: left;
    text-align: left;
    width: 100%;
    padding-left: 25px;
}
.terms-conditions .voltr-btn {
   max-width: 180px;
    height: 120px;
    margin-top: 0;
    font-size: 20px;
    margin-top: 0;

}
.trms-voltr-btn {
    float: left;
    width: 100%;
    text-align: center;
}

.selectbox {
    float: left;
    width: 74%;
}
.selectbox .text_input {
    color: #fff;
}

.selectbox .selectbox .text_input {
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    margin-bottom: 1px;
    padding: 10px;
    width: 100%;
}
.selectbox .selectboxit-container .selectboxit-text{    height: 88px;
    line-height: 88px;
	    color: #fff !important;
		 font-size: 30px;
    font-weight: 700;
}

.selectbox span.selectboxit-arrow-container{    height: 83px;

}
.selectbox span.selectboxit-text {
    max-width: 91% !important;
}
.selectbox .selectboxit-btn.selectboxit-enabled:hover{ color:#fff !important;}

.selectbox .selectboxit-container .selectboxit {
    width: 100% !important;
}
.selectbox .selectboxit-container{ width:100%;}	
.selectbox .selectboxit-container .selectboxit {
    background: none !important;
    border: none;
    border-radius: 0 !important;
    cursor: pointer;
    display: block;
      height: 100% !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

	  width:100%;
}
.selectbox .selectboxit-container .selectboxit-options {
    border-radius: 0px;
    width: 100%;
}
.selectbox .selectboxit-default-arrow {
    background: url(../images/select.png) no-repeat scroll center top rgba(0, 0, 0, 0) !important;
    height: 15px !important;
    width: 25px !important;
    border: none !important;
}



.forgot-pass-ok {
    float: left;
    width: 100%;
    text-align: center;
}
.forgot-pass-ok img {
    display: inline-block;
    float: none;
}
.forgot-pass-ok p {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: top;
	margin-top:20px;
}

.fav-title {
    background: url(../images/fav-popup.png) no-repeat;
    font-size: 32px;
    color: #fff600;
    font-weight: 700;
    height: 216px;
    line-height: 237px;
    text-align: center;
    padding-right: 45px;
	    background-size: 100% 100%;
}
.fav-pop-btn {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -40px;
}
.fav-pop-btn a {
    display: inline-block;
    margin: 0px 20px;
}
.fav-popup {
    float: left;
    width: 100%;
}
.fav-pop-btn {
    float: left;
    width: 100%;
}

.chatpage .page-heading .head-line {
    background-image: url(../images/chat-title.png);
	    height: 128px;
    max-width: 369px;
}
.chatpage .page-heading .head-line span {
    margin-top: 7px;
	font-size:72px;
}
.right-chat {
    float: right;
}
.left-chat {
    float: left;
    margin-right: 8px;
}
body.chat-main {
    background-image: url(../images/chat-bg.png);
}
.left-chat img{
    box-shadow: 3px 1px 0px 3px #1b3769;
    border-radius: 8px;
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    width: 130px;
}

.right-chat img{
    box-shadow: 3px 1px 0px 3px #1b3769;
    border-radius: 8px;
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    width: 130px;
}
.chat-section {
    float: left;
    padding-top: 50px;
    width: 100%;
}
.outbox{
    float: left;
    width: 100%;
    padding-left: 42px;
    background: url(../images/input-righ.png) no-repeat left bottom 35px;
	    margin-bottom: 35px;
}
.outbox textarea {
    width: 100%;
    min-height: 175px;
    border-radius: 10px;
    border: none;
    float: right;
	    padding: 10px;
    color: #000;
}
.inputbox {
    float: left;
    width: 100%;
    padding-right: 38px;
    background: url(../images/input-righ1.png) no-repeat right bottom 35px;
    margin-bottom: 35px;
		
}
.inputbox textarea {
    width: 100%;
    min-height: 147px;
    border-radius: 10px;
    border: none;
    float: right;
    background: #d7ffff;
	    padding: 10px;
    color: #000;
}
.chat-section .volterbox button {
    height: 101px;
    max-width: 282px;

}

.bankstars .page-heading .head-line {
    background-image: url(../images/bank-star-title.png);
    height: 151px;
    max-width: 436px;
    text-align: center;
}
.bankstars .page-heading .head-line span {
    font-size: 50px;
}	
.bankof-ul h1 {
    font-size: 37px;
    font-weight: 700;
    color: #fff7e8;
}
.bankof-ul h1, .bankof-ul li {
    font-size: 37px;
    font-weight: 700;
    color: #fff7e8;
    list-style: none;
	padding: 15px 0px;
}
ul.bankof-ul {
    padding: 0px;
}
ul.bankof-ul span {
    color: #fffc00;
	padding-left: 10px;
}
.bankof-ul li {
    border-top: 1px solid #4e6783;
}
.desktop-verify p {
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    padding: 0px 30px;
}
.forgot-link {
    text-align: center;
 
}
.forgot-link a {
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
    /* float: left; */
}

div#myModa7, div#myModa6 {
    background-image: url(../images/blue-pattern.jpg);

}
div#myModa2 {
    background-image: url(../images/terms-con-bgimg.png);
}

/**innerpage css end here**/




/**Responsive css start here**/


@media only screen and (max-width:664px) {
.inputbox{ margin-bottom:15px;}
.outbox textarea, .inputbox textarea{    min-height: 110px;}
.left-chat {  width: 20%;}
.chatpage .page-heading .head-line {    height: 111px;    max-width: 54%;	    padding: 0px;}
.chatpage .page-heading .head-line span{ font-size:52px; line-height:normal;}
.right-chat {   float: right;    width: 20%;}
.chat-section { padding-top: 0;}

.chatpage .header {    float: left;    width: 100%;   padding-bottom: 20px;}
}
@media only screen and (max-width:640px) {
	




	
.ranking-top-div.r-scnd {  margin-left: 10px;}
.rankingbtm-section .rank {   font-size: 15px;    line-height: 16px;   float: left;   padding: 0px; padding-left: 3px; width: 15%;}
.rank img {   width: 10px;}
.rankingbtm-section .ranking-person{ float:left;}	
.rankingbtm-section .rank-title img {   width: 14px;}
.rankingbtm-section .rank-title {   font-size: 17px; padding:0px;}	
.rankingbtm-section .ranking-person {   width: 21%;}
.rankingbtm-section .ranking-top-div{ border-radius:6px;}
.rankingbtm-section .ranking-top-div .rank { font-size: 21px; padding: 0px 5px;line-height: 24px;}	



	
.l-box label {

    margin-right: 3px;
}
.fav-prof {
	padding-top: 33px;
}
.fav-prof .img-box {
	border-radius: 4px;
	height: auto;
	box-shadow: 0px -1px 0px 2px #fff;
}
.username {
	margin-top: 3px;
}
.fav-prof li {
	width: 21%;
	margin: 0px 4px 17px 4px;
}
.username a {
	font-size: 15px;
	font-weight: 600;
}


.up-rightbox li {
    margin-right: 36px;
}

}
 @media only screen and (min-width:600px) and (max-width: 670px) {
.l-box.confm input {
    width: 46%;
}
.l-box.wtsup input.wtext {
    width: 33%;
}
}
@media only screen and (max-width:600px) {
	
.selectbox .selectboxit-container .selectboxit-text {   height: 51px;   line-height: 54px;    font-size: 18px;}
.selectbox span.selectboxit-arrow-container {   height: 50px;}
.selectbox .selectboxit-default-arrow {    background: url(../images/select.png) no-repeat scroll center top rgba(0, 0, 0, 0) !important;    height: 7px !important;    width: 14px !important;    border: none !important;    background-size: 100% 100% !important;}
.l-box input{    width: 77%;}
	
	.l-box.wtsup input.wtext {  width: 36%;}
.l-box.wtsup input {    width: 10%;}
.rdio {   font-size: 17px;   margin-right: 9px;   margin-top: 14px;   padding-left: 10px;}
.l-box .rdio input { width: 18px;height: 18px;}
.l-box.confm input { width: 45%;}


.l-box.btn-enter button{ text-align:center;}
.createacct {    font-size: 22px;    line-height: 55px;}
.loginpage .page-heading .head-line span {    font-size: 59px; margin-top: 44px;}
.l-box input {    font-size: 18px;    font-weight: 600;    width: 71%;}
.l-box label {    font-size: 15px;   margin-right: 2px;    height: 85%;    line-height: 52px;}
.l-box {    height: 58px;    background-size: 100% 100%;    padding-left: 15px;}
.file-upload-button{ height:auto;      font-size: 17px;   padding: 40px 0px;}
.file-upload-button img {   margin-bottom: 5px;    width: 35px;}
.up-rightbox {    width: 100%;    font-size: 16px;}
.up-rightbox p {    line-height: 24px;    width: 100%;}
.up-rightbox ul {    padding-left: 0px;    margin-top: 0;}
.up-rightbox li {   margin-right: 22px;   font-size: 16px;}
.up-rightbox li input[type="checkbox"] {    width: 16px;    height: 17px;    margin-right: 6px;}
.l-box button {    font-size: 19px;    height: 95%;  text-align:left;}
.l-box button img {   padding-right: 22px;   width: 16%;   padding-top:0px;}


.voltr-btn span {  padding-top: 53px;
    padding-left: 29px;
    font-size: 30px;}
.voltr-btn {      max-width: 248px;
    height: 168px;}
.vt-text {      font-size: 28px;
    padding-top: 99px;
    line-height: 44px;}	
.voltar-text-bg {
    height: 466px;
    width: 410px;
}
}

@media only screen and (max-width:585px) {
  	.bankof-ul h1, .bankof-ul li {   font-size: 25px;   padding: 8px 0px;}
.bankstars .page-heading .head-line{    max-width: 255px; height: 89px;     padding-top: 0px;}
.bankstars .page-heading .head-line span {    font-size: 27px;  margin-top: 20px;  line-height: normal;}

.fav-title {    font-size: 26px;  height: 130px;    line-height: normal;   padding: 47px 50px;}
.fav-pop-btn a {  margin: 0px 7px;   width: 44px;}
.fav-pop-btn {   margin-top: -28px;}
}
@media only screen and (max-width:570px) {
	
.chatpage .page-heading .head-line span{ font-size:37px; line-height:normal;}	
.terms-text {   font-size: 17px;   margin: 20px 0px;}
.terms-conditions .loginpage .page-heading .head-line span {   font-size: 22px;padding-top: 14px; line-height:normal;}
.terms-conditions .page-heading .head-line {  max-width: 320px;      height: 121px; width: 100%;} 
.terms-conditions .voltr-btn span {  font-size: 21px;}
	
.ranking-page .page-heading .head-line {    height: 124px;    width: 320px; padding-top:19px;}
.ranking-page .page-heading .head-line span {   margin-right: 62px; font-size: 34px; margin-top: 0px; line-height:normal;}
	
.ranking-top-div {   border: 1px solid #6a8cab; border-radius: 12px; text-align: center; margin-top: 9px; padding: 10px 16px;}
.trophy { left: -24px; top: 10px; width: 54px;/* margin-right: 10px; */}
.ranking-top-div .rank {   font-size: 31px;  margin-top: 0; padding: 0px 5px; line-height: 28px;  text-align: left;}
.ranking-person {   width: 23%;}
.rank-title {   font-size: 20px; padding-left: 10px; padding-top: 0px;text-align: left;}
.rank-title img {   width: 29px;}




.loginpage .page-heading .head-line span {    font-size: 50px; margin-top: 0px;}
}
 @media only screen and (min-width:481px) and (max-width: 570px) {
.page-heading .head-line {
	padding: 19px 0px 0px 0px;
	height: 158px;
}
.favrouitepage .page-heading .head-line{padding:  19px 0px 0px 33px;}
.page-heading .head-line span {
	font-size: 58px;
	line-height: 100px;
	margin-top: 0;
}
.favrouitepage .page-heading .head-line{margin-right: 82px;}
.fav-prof .img-box {
	border-radius: 4px;
	height: auto;
	box-shadow: 0px -1px 0px 2px #fff;
}
.fav-prof li {
	width: 21.9%;
}
}
 @media only screen and (min-width:400px) and (max-width: 480px) {
 
.page-heading .head-line {
	padding: 19px 0px 0px 0px;
	height: 158px;
}
.favrouitepage .page-heading .head-line{padding:  19px 0px 0px 33px;}
.page-heading .head-line span {
	font-size: 45px;
	line-height: 79px;
	margin-top: 0;
}
.fav-prof .img-box {
	border-radius: 4px;
	height: auto;
	box-shadow: 0px -1px 0px 2px #fff;
}
.fav-prof li {
	width: 21.7%;
}
.volterbox button {
	height: 70px;
	max-width: 205px;
	font-size: 34px;
}
.volterbox {
	margin-top: 19px;
}
}
 @media only screen and (max-width:480px) {
.fav-title {    font-size: 17px;  height: 130px;    line-height: normal;   padding: 47px 50px;}
.fav-pop-btn a {  margin: 0px 7px;   width: 44px;}
.fav-pop-btn {   margin-top: -28px;}


.chatpage .header {    float: left;    width: 100%;   padding-bottom: 0px;}	 
	 
.forgot-pass-ok p {

    width: 100%;

}
.forgot-pass-ok p br{ display:none;}

.ranking-page .page-heading .head-line {    height: 124px;    width: 320px; padding-top:19px;}
.ranking-page .page-heading .head-line span {   margin-right: 62px; font-size: 34px; margin-top: 0px; line-height:normal;}
	 
.ranking-top-div.r-scnd {  margin-left: 10px;}
.rankingbtm-section .rank {   font-size: 15px;    line-height: 16px;   float: left;   padding: 0px; padding-left: 3px; width: 15%;}
.rank img {   width: 10px;}
.rankingbtm-section .ranking-person{ float:left;}	
.rankingbtm-section .rank-title img {   width: 14px;}
.rankingbtm-section .rank-title {   font-size: 12px; padding:0px;}	
.rankingbtm-section .ranking-person {   width: 17%;}
.rankingbtm-section .ranking-top-div{ border-radius:6px;}
.rankingbtm-section .ranking-top-div .rank { font-size: 15px; padding: 0px 5px;line-height: 17px;}	 




.file-upload-button {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 5px;
    border-radius: 7px;
    border: 2px solid #1cbac6;
}
.custom-file-upload{    padding: 0px 3px;}
	 

.voltr-btn span {  padding-top: 44px;   padding-left: 29px;   font-size: 22px;}
.voltr-btn {   max-width: 200px;   height: 127px;}
.vt-text {  font-size: 20px;   padding-top: 71px;	    line-height: 32px;}	
.voltar-text-bg{    height: 352px; width: 292px;}

	 
.volterbox button {
	height: 70px;
	max-width: 205px;
	font-size: 34px;
}
.volterbox {
	margin-top: 19px;
}
a.closed {
	width: 10px;
}
.volterbox button span {
font-size: 30px;
}



}
@media only screen and (min-width:320px) and (max-width: 399px) {
	.bankof-ul h1, .bankof-ul li {   font-size: 17px;   padding: 8px 0px;}
.bankstars .page-heading .head-line{    max-width: 181px; height: 89px;     padding-top: 0px;}
.bankstars .page-heading .head-line span { font-size: 24px;     margin-top: 11px; line-height:normal;}
	
.ranking-main-div .volterbox button {   height: 58px; max-width: 165px;}
.ranking-main-div .volterbox button span {   font-size: 22px;}
.ranking-page .page-heading .head-line {   height: 88px;    width: 257px;    padding-top: 19px;}
.ranking-page .page-heading .head-line span {    font-size: 29px;}
	
.l-box input {
    font-size: 16px;
}
.lognewbox .l-box input {   width: 100%;}
.lognewbox .l-box input:focus {    border-radius: 12px;}

.loginpage .page-heading .head-line span {    font-size: 29px;    margin-top: 0;}
.page-heading .head-line {
	padding: 19px 0px 0px 0px;
	height: 96px;
	width: 257px;
}
.favrouitepage .page-heading .head-line{padding: 19px 0px 0px 42px;}
.page-heading .head-line span {
	font-size: 29px;
	margin-top: 0;
}
.fav-prof .img-box {
	border-radius: 4px;
	height: auto;
	box-shadow: 0px -1px 0px 2px #fff;
}
.username a {
	font-size: 15px;
}


.chatpage .page-heading .head-line span{ font-size:25px; line-height:normal;}
.outbox textarea, .inputbox textarea{    min-height: 80px;}
.outbox {padding-left: 26px;}
.inputbox {padding-right: 26px;}



}
